.chatPageContainer {
    height: 93dvh;
    display: flex;
    width: 95%;
    margin: 0 auto;
    gap: 30px;
    justify-content: center;
}

@media (max-width: 600px) {
    .chatPageContainer {
        height: 95dvh;
        display: flex;
        width: 100%;
        margin: 0 auto;
        gap: 30px;
        height: 100vh;
        justify-content: center;
    }
  }